---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
import Card from '../components/Card.astro';
---

<!-- <Layout title="Recolectame - Recolectamos, reciclamos, renovamos: ¡por un mundo mejor!"> -->
<Layout title="Recolectame: Expertos en recolección de basura y gestión de residuos">
	<main class="">
    <section class="w-100 min-h-screen bg bg-silver pt-16 pb-12 px-8 flex justify-center items-center">
      <div class="container mx-auto flex flex-col justify-start gap-8">
        <img src="recolectame_logo.png" class="w-16" alt="">
        <h1 class="font-serif text-3xl font-bold text-neutral-d-grey">
          Recolectamos, reciclamos, renovamos: ¡por un mundo mejor!
        </h1>
        <p>
          Bienvenido a Recolectame, 
          <span class="font-bold text-green">tu socio en la gestión responsable de residuos</span>. 
          Ayudamos a empresas a manejar sus desechos de manera eficiente y sostenible. 
        </p>
        <p>Únete a nosotros para un futuro más limpio.</p>
        <Button href="https://wa.me/5215615414968">
          Contáctanos
        </Button>
        <img src="/hero.svg" alt="" class="w-full hidden">
      </div>
    </section>
    <section class="bg-white">
      <div class="container mx-auto flex flex-col items-center justify-center gap-4 px-8 py-12 box-border">
        <h2 class="uppercase text-xl font-bold font-serif text-neutral-d-grey">Nuestros servicios:</h2>
        <ul class="flex flex-col gap-16">
          <Card
            title="Recolección de Residuos Industriales" 
            description="Nos especializamos en la recolección segura y eficiente de residuos industriales, ayudando a empresas a gestionar sus desechos de manera responsable y cumpliendo con las regulaciones ambientales.">
          </Card>
          <Card
            title="Gestión de Residuos Comerciales:"
            description="Ofrecemos soluciones integrales para la gestión de residuos comerciales, ayudando a reducir el impacto ambiental y los costos operativos de nuestros clientes a través de prácticas sostenibles de recolección y reciclaje.">
          </Card>
          <Card
            title="Asesoramiento en Sostenibilidad Ambiental:"
            description="Nuestro equipo de expertos ofrece asesoramiento personalizado en sostenibilidad ambiental, ayudando a empresas a implementar prácticas de gestión de residuos más eficientes y a adoptar medidas para reducir su huella ecológica.">
          </Card>
        </ul>
      </div>
    </section>
    <section class="bg-silver">
      <div class="container mx-auto px-8 py-12 w-full">
        <h2 class="font-serif uppercase text-xl font-bold text-center text-neutral-d-grey">Contáctanos</h2>
        <div class="max-w-md mx-auto mt-8">
          <p class="text-gray-600 mb-6">¡Queremos saber de ti! Completa el formulario a continuación y nos pondremos en contacto contigo lo antes posible.</p>
          <form action="#" method="POST" class="space-y-4">
            <div>
              <label for="nombre" class="block text-gray-700">Nombre:</label>
              <input type="text" id="nombre" name="nombre" placeholder="Nombre completo" class="form-input mt-1 w-full p-4">
            </div>
            <div>
              <label for="email" class="block text-gray-700">Correo electrónico:</label>
              <input type="email" id="email" name="email" placeholder="correo@example.com" class="form-input mt-1 w-full p-4">
            </div>
            <div>
              <label for="mensaje" class="block text-gray-700">Mensaje:</label>
              <textarea id="mensaje" name="mensaje" rows="4" placeholder="Escribe tu mensaje aquí" class="form-textarea mt-1 w-full"></textarea>
            </div>
            <button type="submit" class="bg-green text-white font-bold py-2 px-4 rounded hover:bg-blue-600">Enviar mensaje</button>
          </form>
        </div>
        
      </div>

    </section>
    <section class="bg-white">
      <div class="container mx-auto px-8 py-12 w-full flex flex-col gap-8">
        <h2 class="text-xl font-bold text-center text-neutral-d-grey">Acerca de Nosotros</h2>
        <p class="">Somos una empresa familiar con más de 20 años de experiencia en la gestión de residuos y limpieza ambiental. En Recolectame, nos enorgullece ofrecer un servicio de excelencia a nuestros clientes, brindando soluciones eficientes y sostenibles para sus necesidades de recolección y manejo de desechos.</p>
        <p class="">Conocemos a fondo las zonas industriales de la Ciudad de México y del Estado de México, lo que nos permite ofrecer un servicio ágil y efectivo. Nuestro compromiso con la calidad y la satisfacción del cliente nos ha convertido en líderes del sector, y estamos comprometidos a seguir superando las expectativas en cada proyecto que emprendemos.</p>
      </div>
    </section>
    
	</main>
</Layout>

<style>

</style>
