---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<!-- <Layout title="Recolectame - Recolectamos, reciclamos, renovamos: ¡por un mundo mejor!"> -->
<Layout title="Recolectame: Expertos en recolección de basura y gestión de residuos">
	<main class="">
    <div class="w-100 h-screen bg bg-[#F5F7FA]">
      <div class="container mx-auto p-4 flex flex-col justify-start gap-8">
        <img src="recolectame_logo.png" class="w-16" alt="">
        <h1 class="font-serif text-3xl font-bold">Recolectamos, reciclamos, renovamos: ¡por un mundo mejor!</h1>
        <p>Bienvenido a Recolectame, <span class="font-bold text-green">tu socio en la gestión responsable de residuos</span>. Ayudamos a empresas a manejar sus desechos de manera eficiente y sostenible. Únete a nosotros para un futuro más limpio."</p>
      </div>
    </div>
	</main>
</Layout>

<style>

</style>
