---
interface Props {
	title: string
	description: string
}

const { title, description } = Astro.props;
---

<li class="flex flex-col justify-center items-center p-3 gap-2">
		<h2 class="text-lg font-serif font-semibold text-center">
			{title}
		</h2>
		<p class="text-center">
			{description}
		</p>
	</a>
</li>
